<nav class="navbar navbar-expand-md navbar-dark bg-blue">
    <div class="container">
        <a class="navbar-brand" routerLink="/" (click)="setPageTitle('bokadin')">
      Boka Din Bandag
    </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav  ml-auto align-items-center">
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a routerLink="/register" class="nav-link">Signup</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a routerLink="/admin" class="nav-link">Admin Dashboard</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a routerLink="/login" class="nav-link">Logout</a>
                </li>
                <li>
                    <div class="cartSec d-flex align-items-center">
                        <div class="cartCountSec">
                            <span class="cartCount">0</span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <span class="cartValue">{{textFromChild}} SEK</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>