<section class="login-wrap mtb-40">
    <div class="container">
        <div class="d-flex justify-content-center" *ngIf="!error">

            <div class="login-box">
                <h1>Login</h1>
                <div class="alert alert-danger" *ngIf="loginError">
                    {{loginError}}
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="emial" formControlName="email" class="form-control" placeholder="email@email.com" required>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                            <div *ngIf="email.errors">
                                Email is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Zipcode</label>
                        <input type="text" formControlName="zipcode" class="form-control" placeholder="Eg: 1234" required>
                        <div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)" class="error">
                            <div *ngIf="zipcode.errors">
                                Zipcode is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
                    </div>
                </form>
                <div class="signuplinks d-flex justify-content-center pt-4">
                    <a [routerLink]="['/register']" routerLinkActive="router-link-active">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="service-error" *ngIf="error">
            <h1>{{error.errorTitle}}</h1>
            <h3>{{error.errorDesc}}</h3>
        </div>
    </div>
</section>