<section class="featured-blog mtb-40">
    <div class="container">
        <!-- <div class="row">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="blog-box">
          <img src="{{blog.image}}" alt="blog1" />
          <h3>{{blog.title}}</h3>
          <p>by <span>{{blog.author}}</span> on <span>{{blog.created_at | date:'mediumDate'}}</span></p>
          <p>{{blog.short_desc}}</p>
          <a [routerLink]="['/blog', blog.id]" class="btn btn-danger">Read more...</a>
        </div>
      </div>
    </div> -->
        <div class="topPane mb-3 d-flex justify-content-center">
            <!-- <span class="hamburgerIcon" (click)="hamburgerMenu()"><i class="fa fa-bars"></i></span> -->
            <div class="sppedClassList">
                <ul class="d-flex">
                    <ng-container *ngFor="let item of speedClassData">
                        <li (click)="classItemClick(item)" [ngClass]="classSelect === item.classID ? 'activeTab': ''">
                            <button class="btn">{{item.className}}</button>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let item of blogs">
                <div class="col-md-3">
                    <div class="productItem">
                        <div class="eventName">{{item.EventName}}</div>
                        <div class="dateSec d-flex">
                            <div class="dateIcon"><i class="fa fa-calendar"></i></div>
                            <div class="d-flex flex-column pl-3">
                                <span class="text1">{{item.EventDate}}</span>
                                <span class="text2">{{item.EventDays}}</span>
                            </div>
                        </div>

                        <div class="eventDaysbook">{{item.Daysbooked}}</div>
                        <div class="eventPrice">{{item.EventPrice}}</div>
                        <div class="buyNow">
                            <span class="btn" (click)="buyNowFunc(item)" [ngClass]="{'redButton': item.fullyBooked === true}">KOP</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="popupShowHide">
                <div class="popupPanel">
                    <span class="popupOverlay" (click)="popupClose()"></span>
                    <div class="popupInner">
                        <span class="popupClose" (click)="popupClose()"><i class="fa fa-times"></i></span>
                        <h4 class="text-center">Konfigurera</h4>
                        <div class="attributesList">
                            <ul>
                                <ng-container *ngFor="let item of attributesData; let i=index">
                                    <li class="d-flex align-items-center justify-content-between">
                                        <span class="attrLable">{{item.Name}}</span>
                                        <div class="attributesRight">
                                            <span class="attrCheckbox">
                                                <input type="checkbox" [(ngModel)]="isChecked" [value]="item.AttributID" (change)="checkboxFunc($event, item)" id="idx_{{i}}"  [attr.disabled]="item.fullyBooked === true ? true : null" />
                                                <label for="idx_{{i}}"></label>
                                            </span>
                                            <span class="attributesText">{{item.Price}}</span>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="totalPrice d-flex justify-content-end">Total: {{totalPrice}}</div>
                        <div class="pt-3 d-flex justify-content-center">
                            <button class="btn btn-info" (click)="sendEventFunc()">Submit</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="service-error" *ngIf="error">
            <h1>{{error}}</h1>
            <!-- <h3>{{error.errorDesc}}</h3> -->
        </div>
    </div>
</section>