.productItem {
    background: #6c6e71;
    border-radius: 0.5rem;
    padding: 1.25rem;
    margin-bottom: 2rem;
}
.productItem .dateSec {
    color: #fff;
    padding: 0 0 0.75rem;
}
.productItem .dateSec .dateIcon {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.productItem .dateSec .text1 {
    padding: 0 0 0.25rem;
    font-size: 1rem;
    line-height: 1rem;
}
.productItem .dateSec .text2 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}
.productItem .eventName {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0 0 0.75rem 0;
    color: #d7ed9b;
}
.productItem .eventPrice {
    color: #9cb45a;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0 0 1rem 0;
}
.productItem .buyNow .btn {
    background: #e6ae50;
    border-radius: 0.75rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.25rem;
    text-transform: uppercase;
    width: 100%;
}
.productItem .buyNow .btn.redButton {
    background: #f00;
}
.productItem .buyNow .btn:hover {
    background: #b07d28;
}
.productItem .buyNow .btn.redButton:hover {
    background: rgb(156, 1, 1);
}
.attributesList ul {
    padding: 0;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #ccc;
}
.attributesList ul li {
    list-style: none;
    margin-bottom: 0.75rem;
}
.attrLable {
    font-weight: 700;
    font-size: 1.125rem;
}
.attrCheckbox input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.attrCheckbox input+label {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
}
.attrCheckbox input:checked+label {
    border-color: #9cb45a;
}
.attrCheckbox input:checked+label:after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: #9cb45a;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.attrCheckbox input[disabled="true"]+label {
    background: rgba(255, 0, 0, 0.726);
    border-color: rgba(255, 0, 0, 0.726);
}
.totalPrice {
    font-weight: 700;
    color: #444;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
.sppedClassList ul {
    padding: 0;
    margin: 0;
}
.sppedClassList ul li {
    list-style: none;
    margin: 0 1rem;
}
.sppedClassList ul li .btn {
    background: rgb(156, 1, 1);
    color: #fff;
}
.attributesRight {
    position: relative;
}
.attributesText {
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0.375rem;
    color: #fff;
    background: #9cb45a;
    font-size: 0.875rem;
    line-height: 0.875rem;
    border-radius: 0.75rem;
    visibility: hidden;
    opacity: 0;
}
.attributesRight:hover .attributesText {
    opacity: 1;
    visibility: visible;
}