<section class="blog-list mtb-40">
    <div class="container">
        <h1>{{title}}</h1>
        <!-- <div class="row">
            <div class="col-md-4" *ngFor="let blog of blogs">
                <div class="blog-box">
                    <img src="{{blog.image}}" alt="blog1" />
                    <h3>{{blog.title}}</h3>
                    <p>by <span>{{blog.author}}</span> on <span>{{blog.created_at | date:'mediumDate'}}</span></p>
                    <p>{{blog.short_desc}}</p>
                    <a [routerLink]="['/blog', blog.id]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
        </div> -->
        <div class="row">
            <ng-container *ngFor="let item of blogs">
                <div class="col-md-3">
                    <div class="productItem">
                        <div class="eventName">{{item.EventName}}</div>
                        <div class="dateSec d-flex">
                            <div class="dateIcon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                            <div class="d-flex flex-column pl-3">
                                <span class="text1">{{item.EventDate}}</span>
                                <span class="text2">{{item.EventDays}}</span>
                            </div>
                        </div>

                        <div class="eventDaysbook">{{item.Daysbooked}}</div>
                        <div class="eventPrice">{{item.EventPrice}}</div>
                        <div class="buyNow">
                            <span class="btn" (click)="buyNowFunc(item.EventID)">KOP</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="service-error" *ngIf="error">
            <h1>{{error}}</h1>
            <!-- <h3>{{error.errorDesc}}</h3> -->
        </div>
    </div>
</section>